#cardNumberInput{
    width: 100%;
}
#cardNumberInput[readonly] {
    background-color: #f2f2f2;
    color: #666; 
  }

  #error, #nip, #mainMenu{
    display: none;
  }
.main{
    height: 370px;
}
.bienvenido {
    font-size: 2.5rem; /* Tamaño de la fuente grande */
    color: #007bff; /* Color azul */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio inferior */
  }
  .ingresa-tarjeta {
    font-size: 1.2rem; /* Tamaño de la fuente más pequeño */
    color: #6c757d; /* Color gris */
    text-align: center; /* Centrar el texto */
  }
  #nipInput{
    width: 155px;
    height: 40px;
    font-size: 77px;
    text-align: center;    
    border-color: transparent;
  }
  .btn-fixed-width{
    width: 100%;
  }